/*Text Colors*/
$txt-color: #393939;
$light-txt-color: #888;
$invert-txt-color: #FFF;

/*Colors*/
$brand-color: #1BB89D;
$secondary-color: #393939;
$danger-color: #e42626;
$inverted-bg: #393939;

/*Text*/
$primary-font: 'roboto';

/*Measures*/
$gutter: 30px;

/*Border*/
$border-radius: 5px;

/*HR*/
$hr-color: #B7B7B7;
